<% if @issue.errors.any? %>
  <div class="alert notice error">
    Hey, maybe there are some things wrong.
    <% @issue.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>

<div class="container new_issue">

  <%= form_for @issue do |f| %>

    <h2><%= t('issues.set_up_your_club') %></h2>

    <div class="issue clearfix">

      <header>

        <em></em>
        <h1><%= f.text_field :title, placeholder: t('issues.your_clubs_title'), :autofocus => true %></h1>

        <div class="description">
          <%= "FIELD" %>
        </div>

      </header>

      <div class="issue_conf clearfix py2 px4">

        <div class="float-left fifty percent">

          <div class="clearfix">

            <div class="float-left twenty percent">
              <p>This club is</p>
            </div>

            <div class="float-right eighty percent">

              <p>
                <%= f.radio_button(:privacy_public, '0') %>
                <%= label_tag(:issue_privacy_public_0, t('issues.just_for_me').html_safe) %>
                <!-- <span><%= t('issues.just_for_me_exp') %></span> -->
              </p>

              <p>
                <%= f.radio_button(:privacy_public, '2') %>
                <%= label_tag(:issue_privacy_public_2, t('issues.for_everybody').html_safe) %>
                <!-- <span><%= t('issues.for_everybody_exp') %></span> -->
              </p>

              <p>
                <%= f.radio_button(:privacy_public, '', disabled: true) %>
                <%= label_tag(:issue_privacy_public_1, t('issues.for_a_closed_group').html_safe) %>
                <!-- <span><%= t('issues.for_a_closed_group_exp') %></span> -->
              </p>

              <%= f.submit t('issues.create_submit'), class: 'btn m3' %>

            </div>

          </div>

        </div>

        <div class="float-right fifty percent">

          <div class="invites-pref" id="invites_0">
            <p><%= t('issues.no_one_to_invite') %></p>
          </div>

          <div class="invites-pref hide" id="invites_1">
            <p><%= t('issues.for_a_closed_group_exp_long') %></p>

            <%# f.text_area :wadus %>
            <%= text_area_tag :wadus %>

          </div>

          <div class="invites-pref hide" id="invites_2">
            <p><%= t('issues.for_everybody_exp_long') %></p>
          </div>

        </div>


      </div>

    </div><!-- .issue -->
  <% end %>
</div>
