<% set_meta_tags :description => t("metas.issues.issue.description", :title => @issue.title) %>
<% set_meta_tags :title => @issue.title %>

<div class="container">

  <%= render 'shared/newcomers_banner' %>

  <div class="issue clearfix">

    <header>

      <em></em>
      <h1><%= @issue.title %></h1>
      <div class="share_container">
        <div class="share facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=<%= u(request.original_url) %>&t=<%= u(@issue.title) %>" class="popup"><i class="fa fa-facebook"></i><span>Facebook</span></a></div>
        <div class="share twitter"><a href="http://twitter.com/home?status=<%= @issue.title %> <%= request.original_url %>" class="popup"><i class="fa fa-twitter"></i><span>Twitter</span></a></div>
      </div>
      <div class="description">
        <%= @issue.description %>
      </div>

    </header>

    <div class="reasons">

      <div id="show_reason_extended" class="show_extended"></div>

      <div class="col-1-2">
        <div class="reasons-list reasons-for">

          <header class="py2 px4">
            <div><strong><%= @issue.reasons.for.count %></strong> Razones a favor</div>
            <div><strong><%= @votes[:for] %></strong> Votos</div>
            <!-- <div><strong>4</strong> Partidarios</div> -->
          </header>

          <%= render @issue.reasons.for %>

          <%= render 'reasons/form', :locals => {:position => 'for'} %>

        </div><!-- .reasons-for -->
      </div>

      <div class="col-2-2">
        <div class="reasons-list reasons-against">

          <header class="py2 px4">
            <div><strong><%= @issue.reasons.against.count %></strong> Razones en contra</div>
            <div><strong><%= @votes[:against] %></strong> Votos</div>
            <!-- <div><strong>4345</strong> Partidarios</div> -->
          </header>

          <%= render @issue.reasons.against %>

          <%= render 'reasons/form', :locals => {:position => 'against'} %>

        </div><!-- .reasons-against -->
      </div>

    </div><!-- .reasons -->

  </div><!-- .issue -->

</div>