<div class="container user_page">
  
  <h1><%= t('user.welcome_title') %></h1>

  <p class="note"><%= t('user.welcome_text') %></p>

  <% if current_user.twitter_handle.present? %>
    <h2><strong>@<%= current_user.twitter_handle %></strong> <%= current_user.name %></h2>
  <% end %>

  <%= link_to '<i class="fa fa-plus"></i> Create new Club'.html_safe, new_issue_path, title: t('issues.new_top_bar_title'), class: "tipsit-n", id: "add_new_issue"  %>
  
  <div class="clearfix">

    <div class="fifty percent float-left">
      <h3>Activity</h3>
      ...
    </div>

    <div class="fifty percent float-right">
      <div class="your_clubs">
        <h3>Your Clubs <% if @issues.any? %>(<%= @issues.size %>)<% end %></h3>
        <% if @issues.any? %>
          <ul>
          <% @issues.each do |issue| %>
            <li><%= link_to issue.title, issue %></li>
          <% end %>
          </ul>
        <% end %>
      </div>
      <div class="your_clubs">
        <h3>Your Reasons <% if @reasons.any? %>(<%= @reasons.size %>)<% end %></h3>
        <% if @reasons.any? %>
          <ul>
          <% @reasons.each do |reason| %>
            <li><%= link_to reason.title, reason_path(reason.issue, reason) %></li>
          <% end %>
          </ul>
        <% end %>
      </div>
    </div>

  </div>


  <p><%= t('user.meanwhile') %></p>

  <div class="share_container">
    <div class="share facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=<%= u(request.domain) %>&t=<%= u(t('tagline')) %>" class="popup"><i class="fa fa-facebook"></i><span>Facebook</span></a></div>
    <div class="share twitter"><a href="http://twitter.com/home?status=<%= u(t('tagline')) %> <%= request.domain %>" class="popup"><i class="fa fa-twitter"></i><span>Twitter</span></a></div>
  </div>

  <p><%= t('user.meanwhile_bis').html_safe %></p>

  <p><%# link_to t('user.need_to_edit'), edit_user_registration_path %></p>



</div>
