      
      <div class="new_reason_here_<%= locals[:position] %>"></div>
        
        <div class="py2 px4 add-reason">
          
          <div class="empty_form_alert"></div>
            
          <div class="add_reason_input">
          <%= form_for [@issue, @reason], remote: true do |f| %>
            <i class="fa fa-plus-circle"></i>
            <%= f.text_area :title, placeholder: t('reasons.add_argument'), class: "cd-signup reason_title js-auto-size reason_title_#{locals[:position]}", rows: '1', required: true %>
            <%= f.hidden_field :issue_id, :value => @issue.id %>
            <% if locals[:position] == 'for' %>
              <%= f.hidden_field :for, :value => true %>
            <% else %>
              <%= f.hidden_field :for, :value => false %>
            <% end %>
            <%= f.submit t('reasons.submit_reason'), class: "btn" %>
          <% end %>
          </div>

        </div>