
<%= render 'shared/newcomers_banner' %>

<div class="issue clearfix">

  <header>
    <h1>Razones para no votar a Esperanza Aguirre</h1>
    <div class="description">
      Esperanza Aguirre tiene una trayectoria política muy cuestionable para alguien que quiere volver a presentarse a unas elecciones. En esta lista apuntamos algunas de las razones por las que pensamos que NO debería poder ser representante público. Si quieres añadir razones por las que votarla, adelante ;)
    </div>
  </header>

  <div class="reasons">

    <div class="col-1-2">
      <div class="reasons-list reasons-for p4">

        <header>
          <div><strong>1</strong> Razones en contra</div>
          <div><strong>1</strong> Votos</div>
          <div><strong>4</strong> Partidarios</div>
        </header>

        <div class="reason">
          <div class="vote btn-vote active">
            <div class="btn-triangle"></div>
            <%= link_to '12', '' %>
          </div>
          <div class="title">
            <h2><%= link_to 'Muchos de sus colaboradores cercanos están implicados en casos de corrupción', '' %></h2>
          </div>
          <div class="tools">
            1 comentario
            2 enlaces
          </div>
        </div>

        <div class="reason">
          <div class="vote btn-vote">
            <div class="btn-triangle"></div>
            <%= link_to '123', '' %>
          </div>
          <div class="title">
            <h2><%= link_to 'Ganó las elecciones a la Comunidad de Madrid por un escándalo de transfuguismo con muchos vínculos con su propio partido y que nunca se ha aclarado al 100% ', '' %></h2>
          </div>
          <div class="tools">
            1 comentario
            2 enlaces
          </div>
        </div>

        <div class="reason">
          <div class="vote btn-vote">
            <div class="btn-triangle"></div>
            <%= link_to '1234', '' %>
          </div>
          <div class="title">
            <h2><%= link_to 'Tuvo un incidente de tráfico inaceptable en alguien que aspira a ser representante público', '' %></h2>
          </div>
          <div class="tools">
            1 comentario
            2 enlaces
          </div>
        </div>

        <div class="add-reason">
          <%= link_to 'añadir argumento', '' %>
        </div>

      </div><!-- .reasons-for -->
    </div>

    <div class="col-2-2">
      <div class="reasons-list reasons-against p4">

        <header>
          <div><strong>1534</strong> Razones en contra</div>
          <div><strong>1232</strong> Votos</div>
          <div><strong>4345</strong> Partidarios</div>
        </header>

        <div class="reason">
          <div class="vote btn-vote">
            <div class="btn-triangle"></div>
            <%= link_to '12', '' %>
          </div>
          <div class="title">
            <h2><%= link_to 'Creó muchas estaciones de metro y autopistas', '' %></h2>
          </div>
          <div class="tools">
            1 comentario
            2 enlaces
          </div>
        </div>

        <div class="reason">
          <div class="vote btn-vote active">
            <div class="btn-triangle"></div>
            <%= link_to '12', '' %>
          </div>
          <div class="title">
            <h2><%= link_to 'Creó muchas estaciones de metro y autopistas', '' %></h2>
          </div>
          <div class="tools">
            1 comentario
            2 enlaces
          </div>
        </div>

        <div class="add-reason">
          <%= link_to 'añadir argumento', '' %>
        </div>
        

      </div><!-- .reasons-against -->
    </div>

  </div><!-- .reasons -->

</div><!-- .issue -->