<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= display_meta_tags :site => 'Reasons.club', :reverse => true %>

</head>
<body>

<% unless params[:embed] %>

  <header class="main-header">
    <div class="logo"><%= link_to '<span>Reasons</span>.club'.html_safe, root_path %></div>
    <div class="tagline"><%= t 'tagline' %></div>

    <div id="controls">
      <% if user_signed_in? %>
        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_issue_path, title: t('issues.new_top_bar_title'), class: "tipsit-n", id: "add_new_issue"  %>
        <!-- <a href="" id="notifications_notice" title="You have 23 new notifications" class="tipsit-n">23</a> -->
        <%= link_to '', user_profile_path, :class => 'navbar-link tipsit-n', style: "background: url('#{gravatar_for(current_user, size: 32, only_url: true)}')", title: "Your account (#{current_user.email})" %>
        <%= link_to "<i class='fa fa-toggle-on'></i>".html_safe, destroy_user_session_path, method: :delete, :class => 'navbar-link tipsit-n', title: 'Logout, and come later'  %>
      <% else %>
        <%= link_to '<i class="fa fa-plus"></i>'.html_safe, new_issue_path, title: t('issues.new_top_bar_title'), class: "tipsit-n cd-signup", id: "add_new_issue"  %>
        <%# link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
        <%# link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <%# link_to "Sign up", '', :class => 'cd-signup navbar-link'  %>
        <%# link_to "Login", '', :class => 'cd-signup navbar-link'  %>
        <%# render 'devise/shared/social_login_buttons' %>
        <%= link_to "#{t('connect_with')}  <i class='fa fa-twitter'></i> Twitter".html_safe, twitter_login_path %>
      <% end %>
    </div>
    
  </header>

<% end %>


<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= flash_message %>

<%= yield %>

<% unless params[:embed] %>

  <footer>
    <%= link_to t('about'), '' %>
    <%# link_to t('contact'), '' %>
    <%= link_to t('help'), '' %>
  </footer>

<% end %>

<% unless user_signed_in? %>
  <%# render 'shared/modal_login' %>
  <%= render 'shared/get_access' %>
<% end %>

<% if Rails.env.production? %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61667250-1', 'auto');
  ga('send', 'pageview');
</script>
<% end %>

<div class="blurry"></div>

</body>
</html>
