<!DOCTYPE html>
<html>
<head>
  <title>Reasons</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="main-header">
  <div class="logo"><a href=""><span>Reasons</span>.club</a></div>
  <div class="tagline">Disqus with order, reach conclusions faster, take decisions</div>

  <div id="controls">
    <a href="" id="add_new_issue" title="Add new issue to discuss" class="tipsit-n">+</a>
    <% if user_signed_in? %>
      <a href="" id="notifications_notice" title="You have 23 new notifications" class="tipsit-n">23</a>
      <%= link_to '@', edit_user_registration_path, :class => 'navbar-link', style: "background: url('#{gravatar_for(current_user, size: 32, only_url: true)}')", title: current_user.email %>
      <%= link_to "L", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
  </div>
  
</header>

<div class="container">

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>

  <footer>

  </footer>

</div><!-- .container -->

</body>
</html>
